
div {
    width: 700px;
    background-color: #FFFFEB;
    border: none;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px #999999; 
}
#acasa{
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: bold;
    color: #003300;
    text-align: justify;
    padding: 5px 5px 5px 30px;
}
.componente{
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-style: normal;
    color: #003300;
    text-align: justify;
    text-indent: 40px;
    padding: 0px 20px 20px 320px;
}
